@font-face {
  font-family: 'als_malinaregular';
  src: url('../fonts/malina-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/*
@mixin fonts($style: regular) {
  @if $style == regular {
    font-family: 'als_malinaregular', sans-serif;
  }

  @if $style == bold {
    font-family: 'als_malinaregular', sans-serif;
  }
}
*/